@font-face {
    font-family: Lexend;
    src: url(./fonts/Lexend.ttf);
}
html, body {
    font-family: Lexend;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgb(51, 116, 255);
    position:absolute;
    left:0px;
    top:0px;
    height: 100%;
    width: 20%;
}

.header{
        position:absolute;
        background-color: rgb(255, 255, 255);

    left: 20%;
    top: 0px;
    height: 18%;
    width: 80%;
    box-shadow: 0px 5px 10px 0px rgb(107, 107, 107);
    z-index: 2; 
    overflow: hidden;
}




.navbar {
justify-content: space-between;
    width: 100%;
    height: 3rem;
    border: 4px red solid;
    align-items: center;     
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

}
.navbarContainer{
  


    width:100%;
    overflow: hidden;

}
.searchbar{
      display: flex;
  justify-content: center;
  align-items: center;
margin-left: 5rem;
}
.searchbar > input{
    background-color: #dbdbdb;
}
.notificationIcon{
    margin-left:20rem;
}
.navbarChild {
  display: flex;

  align-items: center;

}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10rem;
  
}
.icons>h3{
    display: flex;

    align-items: center;
}
.header1{
    width:100%;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border: 4px rgb(0, 34, 255) solid;
    align-items: center;     
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    display: flex;
    
}
.header2{
    width:3rem;
 
    width: 100%;
    height: 5rem;
    border: 4px rgb(0, 34, 255) solid;
    align-items: center;     
justify-content: center;
    display: flex;
}
.header3{
    margin-left:-4rem;
width: 600px;
    display: flex;
    height: 5rem;
    border: 4px rgb(217, 255, 0) solid;
    align-items: center;  
    align-self: center;   
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin:0px;
}
.headerChild{
    margin:30px;
}
.headerChild > button{
    margin-left:10px;
    margin-right:10px;
font-size:20px;
border-radius: 10px;
border-color:transparent;
background-color: lightblue;
color:white;
font-family:Lexend ;
}
.header2{}
.h2txt1 {
    font-size: 18px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
}
.h2txt2{
   
}
.h2txtbox{
    flex:3 39px;

    height: 70px;
width: 500px;
justify-content: space-between
;}
.header2Text{
    width: 12rem;
    justify-content: center;
flex:1;
}
.usericon{
    margin-left:30px;
    margin-right: 10px;;
}
.h2txt2box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: auto;
    margin-top: 2px;
}
.hibox{
    margin:20px;
}
input[type="text"] {
    width: 400px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid lightgray;
    padding-left: 10px;
    font-size: 16px;
}
.name{
    font-size: 20px;
    font-weight: bold;
    flex-direction: row;
    gap: 8px;
    width: auto;
    margin-top: -5px;
white-space: nowrap;
}
.mainContent {
    background-color: rgb(206, 206, 206);
    position: absolute;
    border:5px solid rgb(29, 250, 0);
    top: 18%;        
    left: 20%;        
    height: 82%;
    width: 80%;
    z-index: 1;
     display: flex;        
    flex-wrap: wrap;     
    gap: 10px;            
    padding: 10px;
    box-sizing: border-box;
}
.content{
    width: 400px;
    height:180px;
    border: 4px solid rgb(255, 0, 0);
    margin: 5px;
}
.leftContent{

         display: flex;        
    flex-wrap: wrap;  
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 100%;
}
.toptextContent{
    width: 100%;
    height: 10%;
    border: 4px solid rgb(255, 0, 0);
    display: flex;        
    flex-wrap: wrap;  
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.rightContent{

         display: flex;        
    flex-wrap: wrap;  
align-items: right;
    flex-direction: column;
}
.toprightContent{
margin-left: 100px;
margin-bottom: 60px;
    display: flex;        
    flex-wrap: wrap;  
    flex-direction: row;
    gap: 1px;
    width: 400px;
        border: 3PX solid grey;
    border-radius: 10px;
            background-color: rgb(207, 207, 207);
}
.toprightContentBox{
        background-color: rgb(255, 255, 255);
    width: 400px;
    height: 50px;

}
.bottomrightContent{
margin-left: 100px;
    display: flex;        
    flex-wrap: wrap;  
    flex-direction: row;
    gap: 1px;
    width:400px;
            border: 3PX solid grey;
    border-radius: 10px;
            background-color: rgb(207, 207, 207);
    
}
.bottomrightContentBox{
        background-color: rgb(255, 255, 255);
    width: 500px;
    height: 50px;

}
.leftContent > .content{

border:transparent;

  background: #fff;
  box-shadow: 4px 4px 0 rgb(146, 143, 143);
  background-image:
    linear-gradient(
      90deg,
      #fff 12px, 0,
      rgb(146, 143, 143) 15px, 0,
      rgb(206, 206, 206) 20px, 0,
      #fff 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255,255,255,0) 88%,
      #fff 100%
    ),
    radial-gradient(
      circle at 22px 8px,
      rgb(206, 206, 206) 40%,
      rgb(146, 143, 143) 40%,
      rgb(146, 143, 143) 100%
    );
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
  
  &--alt {
    background-image: linear-gradient(90deg, #fff 12px, 0, #00486B 15px, 0 ,#1373A9 20px, 0,#fff 100%),radial-gradient(circle closest-side,rgba(255,255,255,0) 88%,#fff 100%),radial-gradient(circle at 22px 8px,#1373A9 40%,#00486B 40%,#00486B 100%);
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
    background-size: 2em 1.3125em;
  }


}
.leftContentBox{
justify-content: center;
align-items: center;
margin: 30px;
}
.content{
    margin-top: -10p;
}
.h4{

}
.h5{
    margin-top:10px;
}